#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  * {
    font-family: "Playpen Sans Hebrew", cursive;
  }
}

.App {
  text-align: center;
}

.App h1 {
  color: #61dafb;
}
